graphConfiguration:
    location: /data/graph
    indexedNodeProperties:
      - label
      - synonym
      - category
    exactNodeProperties:
      - label
      - synonym
    schemaIndexes:
      Node :
        - iri
    neo4jConfig:
      dump_configuration : true
      dbms.pagecache.memory : 8G

ontologies:
  - url: /data/owl/monarch-merged.owl

MONARCH_GLOBALS
