graphConfiguration:
    location: /data/graph
    neo4jConfig:
      dump_configuration : true
      dbms.pagecache.memory : 64G

    indexedNodeProperties:
      - label
    exactNodeProperties:
      - label
    schemaIndexes:
      Node :
        - iri

ontologies:
  # Monarch ontology
  - url: /data/201909/owl/monarch-merged.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
      
  - url: /data/201909/owl/geno.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
  
  # Data sources
  - url: /data/201909/ttl/mgi.ttl
  - url: /data/201909/ttl/panther.nt
  - url: /data/201909/ttl/clinvar.nt
  - url: /data/201909/ttl/ncbigene.ttl
  - url: /data/201909/ttl/biogrid.ttl
  - url: /data/201909/ttl/zfin.ttl
  - url: /data/201909/ttl/ctd.ttl
  - url: /data/201909/ttl/hpoa.ttl
  - url: /data/201909/ttl/omim.ttl
  - url: /data/201909/ttl/coriell.ttl
  - url: /data/201909/ttl/hgnc.ttl
  - url: /data/201909/ttl/impc.ttl
  - url: /data/201909/ttl/ucscbands.ttl
  - url: /data/201909/ttl/monochrom.ttl
  - url: /data/201909/ttl/eom.ttl
  #- url: http://data.monarchinitiative.org/ttl/genereviews.ttl
  - url: /data/201909/ttl/orphanet.ttl
  - url: /data/201909/ttl/animalqtldb.ttl
  - url: /data/201909/ttl/flybase.ttl
  - url: /data/201909/ttl/wormbase.nt
  - url: /data/201909/ttl/omia.ttl
  - url: /data/201909/ttl/mmrrc.ttl
  - url: /data/201909/ttl/gwascatalog.ttl
  - url: /data/201909/ttl/monarch.ttl
  - url: /data/201909/ttl/mpd.ttl
  - url: /data/201909/ttl/go.ttl
  - url: /data/201909/ttl/mgi_slim.ttl
  - url: /data/201909/ttl/zfinslim.ttl
  - url: /data/201909/ttl/reactome.ttl
  - url: /data/201909/ttl/udp.ttl
  - url: /data/201909/ttl/bgee.ttl
  - url: /data/201909/ttl/string.ttl
  - url: /data/201909/ttl/ensembl.ttl
  - url: /data/201909/ttl/rgd.ttl
  - url: /data/201909/ttl/sgd.ttl
  - url: /data/201909/ttl/mychem.ttl
  - url: /data/201909/ttl/kegg.ttl
  
  # Other ontologies
  - url: /data/201909/owl/faldo.ttl
  - url: /data/201909/owl/iao.owl
  - url: /data/201909/owl/sepio.owl
  - url: /data/201909/owl/ero.owl
  - url: /data/201909/owl/pw.owl
  - url: /data/201909/owl/oban_core.ttl
  - url: /data/201909/owl/clo_core.owl
  - url: /data/201909/owl/pco.owl
  - url: /data/201909/owl/xco.owl
  - url: /data/201909/owl/foaf.rdf
  - url: /data/201909/owl/dc.rdf

MONARCH_GLOBALS
