graphConfiguration:
    location: /data/graph
    neo4jConfig:
      dump_configuration : true
      dbms.pagecache.memory : 64G

    indexedNodeProperties:
      - label
    exactNodeProperties:
      - label
    schemaIndexes:
      Node :
        - iri

ontologies:
  # Monarch ontology
  - url: /data/owl/monarch-merged.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
      
  - url: /data/owl/geno.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
  
  # Data sources
  - url: /data/rdf/mgi.nt
  - url: /data/rdf/panther.nt
  - url: /data/rdf/clinvar.nt
  - url: /data/rdf/ncbigene.nt
  - url: /data/rdf/biogrid.nt
  - url: /data/rdf/zfin.nt
  - url: /data/rdf/ctd.nt
  - url: /data/rdf/hpoa.nt
  - url: /data/rdf/omim.nt
  - url: /data/rdf/coriell.nt
  - url: /data/rdf/hgnc.nt
  - url: /data/rdf/impc.nt
  - url: /data/rdf/ucscbands.nt
  - url: /data/rdf/monochrom.nt
  - url: /data/rdf/eom.nt
  #- url: http://data.monarchinitiative.org/ttl/genereviews.ttl
  - url: /data/rdf/orphanet.nt
  - url: /data/rdf/animalqtldb.nt
  - url: /data/rdf/flybase.nt
  - url: /data/rdf/wormbase.nt
  - url: /data/rdf/omia.nt
  - url: /data/rdf/mmrrc.nt
  - url: /data/rdf/gwascatalog.nt
  - url: /data/rdf/monarch.nt
  - url: /data/rdf/mpd.nt
  - url: /data/rdf/go.nt
  - url: /data/rdf/mgislim.nt
  - url: /data/rdf/zfinslim.nt
  - url: /data/rdf/reactome.nt
  - url: /data/rdf/udp.nt
  - url: /data/rdf/bgee.nt
  - url: /data/rdf/string.nt
  - url: /data/rdf/ensembl.nt
  - url: /data/rdf/rgd.nt
  - url: /data/rdf/sgd.nt
  - url: /data/rdf/kegg.nt
  # - url: /data/rdf/xenbase.nt
  
  # Dataset files
  - url: /data/rdf/mgi_dataset.ttl
  - url: /data/rdf/panther_dataset.ttl
  # - url: /data/rdf/clinvar_dataset.ttl  clinvar doesn't have a dataset file
  - url: /data/rdf/ncbigene_dataset.ttl
  - url: /data/rdf/biogrid_dataset.ttl
  - url: /data/rdf/zfin_dataset.ttl
  - url: /data/rdf/ctd_dataset.ttl
  - url: /data/rdf/hpoa_dataset.ttl
  - url: /data/rdf/omim_dataset.ttl
  - url: /data/rdf/coriell_dataset.ttl
  - url: /data/rdf/hgnc_dataset.ttl
  - url: /data/rdf/impc_dataset.ttl
  - url: /data/rdf/ucscbands_dataset.ttl
  - url: /data/rdf/monochrom_dataset.ttl
  - url: /data/rdf/eom_dataset.ttl
  #- url: http://data.monarchinitiative.org/ttl/genereviews_dataset.ttl
  - url: /data/rdf/orphanet_dataset.ttl
  - url: /data/rdf/animalqtldb_dataset.ttl
  - url: /data/rdf/flybase_dataset.ttl
  - url: /data/rdf/wormbase_dataset.ttl
  - url: /data/rdf/omia_dataset.ttl
  - url: /data/rdf/mmrrc_dataset.ttl
  - url: /data/rdf/gwascatalog_dataset.ttl
  - url: /data/rdf/monarch_dataset.ttl
  - url: /data/rdf/mpd_dataset.ttl
  - url: /data/rdf/go_dataset.ttl
  - url: /data/rdf/mgislim_dataset.ttl
  - url: /data/rdf/zfinslim_dataset.ttl
  - url: /data/rdf/reactome_dataset.ttl
  - url: /data/rdf/udp_dataset.ttl
  - url: /data/rdf/bgee_dataset.ttl
  - url: /data/rdf/string_dataset.ttl
  - url: /data/rdf/ensembl_dataset.ttl
  - url: /data/rdf/rgd_dataset.ttl
  - url: /data/rdf/sgd_dataset.ttl
  - url: /data/rdf/kegg_dataset.ttl
  # - url: /data/rdf/xenbase_dataset.ttl

  
  # Other ontologies, long term goal to have all ontologies in monarch-merged.owl
  # - url: /data/owl/ero.owl  will anyone miss eagle-i?

MONARCH_GLOBALS
