graphConfiguration:
    location: /data/graph
    neo4jConfig:
      dump_configuration : true
      dbms.pagecache.memory : 64G

    indexedNodeProperties:
      - label
    exactNodeProperties:
      - label
    schemaIndexes:
      Node :
        - iri

ontologies:
  # Monarch ontology
  - url: /data/201911/owl/monarch-merged.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
      
  - url: /data/201911/owl/geno.owl
    reasonerConfiguration:
      factory: org.semanticweb.elk.owlapi.ElkReasonerFactory
      addDirectInferredEdges: true
      addInferredEquivalences: true
      removeUnsatisfiableClasses: true
  
  # Data sources
  - url: /data/201911/rdf/mgi.ttl
  - url: /data/201911/rdf/panther.nt
  - url: /data/201911/rdf/clinvar.nt
  - url: /data/201911/rdf/ncbigene.ttl
  - url: /data/201911/rdf/biogrid.ttl
  - url: /data/201911/rdf/zfin.ttl
  - url: /data/201911/rdf/ctd.ttl
  - url: /data/201911/rdf/hpoa.ttl
  - url: /data/201911/rdf/omim.ttl
  - url: /data/201911/rdf/coriell.ttl
  - url: /data/201911/rdf/hgnc.ttl
  - url: /data/201911/rdf/impc.ttl
  - url: /data/201911/rdf/ucscbands.ttl
  - url: /data/201911/rdf/monochrom.ttl
  - url: /data/201911/rdf/eom.ttl
  #- url: http://data.monarchinitiative.org/ttl/genereviews.ttl
  - url: /data/201911/rdf/orphanet.ttl
  - url: /data/201911/rdf/animalqtldb.ttl
  - url: /data/201911/rdf/flybase.ttl
  - url: /data/201911/rdf/wormbase.nt
  - url: /data/201911/rdf/omia.ttl
  - url: /data/201911/rdf/mmrrc.ttl
  - url: /data/201911/rdf/gwascatalog.ttl
  - url: /data/201911/rdf/monarch.ttl
  - url: /data/201911/rdf/mpd.ttl
  - url: /data/201911/rdf/go.ttl
  - url: /data/201911/rdf/mgi_slim.ttl
  - url: /data/201911/rdf/zfinslim.ttl
  - url: /data/201911/rdf/reactome.ttl
  - url: /data/201911/rdf/udp.ttl
  - url: /data/201911/rdf/bgee.ttl
  - url: /data/201911/rdf/string.ttl
  - url: /data/201911/rdf/ensembl.ttl
  - url: /data/201911/rdf/rgd.ttl
  - url: /data/201911/rdf/sgd.ttl
  - url: /data/201911/rdf/mychem.ttl
  - url: /data/201911/rdf/kegg.ttl
  
  # Other ontologies
  - url: /data/201911/owl/faldo.ttl
  - url: /data/201911/owl/iao.owl
  - url: /data/201911/owl/sepio.owl
  - url: /data/201911/owl/ero.owl
  - url: /data/201911/owl/pw.owl
  - url: /data/201911/owl/oban_core.ttl
  - url: /data/201911/owl/clo_core.owl
  - url: /data/201911/owl/pco.owl
  - url: /data/201911/owl/xco.owl
  - url: /data/201911/owl/foaf.rdf
  - url: /data/201911/owl/dc.rdf

MONARCH_GLOBALS
